.links{
    background: whitesmoke;
    border-radius: 9px;
    align-content: center;
    cursor:pointer;
    display: grid;
    place-items: center;
    color: #007bff;
    border: 3px solid #007bff;
    padding-left: 11px;
    padding-right: 11px;
    user-select: none;
    height: 150px;
    width: 110px;
}

.links:hover {
    background-color: #0056b3;
    color:white;
}
.card-name{
    font-size: 1.1em;
    margin-top: 10px;
    text-transform: uppercase;
}