.home-view {
    text-align: center;
    padding: 40px;
    max-width: 800px;
    margin: 0 auto;
}

.home-view h1 {
    color: #333;
    margin-bottom: 10px;
}

.home-view p {
    color: #555;
    font-size: 1.1em;
    margin-bottom: 30px;
}

.home-links {
    display: flow;
    column-count: 3;
    flex-wrap: wrap;
    justify-content: center;
    gap: 80px;
    justify-self: center;
}

.home-link {
    padding: 15px 25px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    font-size: 1.1em;
    transition: background-color 0.3s;
}

.home-link:hover {
    background-color: #0056b3;
}
.links{
    background: whitesmoke;
    border-radius: 9px;
    align-content: center;
    cursor:pointer;
    display: grid;
    place-items: center;
    color: #007bff;
    border: 3px solid #007bff;
    padding-left: 11px;
    padding-right: 11px;
    user-select: none;
    height: 150px;
    width: 110px;
    margin-bottom: 15px;
}

.links:hover {
    background-color: #0056b3;
    color:white;
}
.card-name{
    font-size: 1.1em;
    margin-top: 10px;
    text-transform: uppercase;
}